$color-primary: #74bfa2;
$color-primary-side: #8dc3a4;
$color-primary-semilight-1: #c0e1bf;
$color-primary-semilight-2: #c9e5c8;
$color-primary-semilight-3: #d6ebd5;

$color-primary-dark: #35725e;
$color-primary-semidark: #6a947b;
$color-primary-semidark-1: #619c84;
$color-primary-semidark-2: #7aa98e;

$color-primary-semilight-1: #a8d9c0;
$color-primary-semilight-2: #b6dec5;
$color-primary-semilight-3: #bbe1ce;

$color-primary-light-1: #d6ebd5;
$color-primary-light-2: #e2f1e1;
$color-primary-light-3: #eff7ef;

$color-cyan: #bbe1ce;
$color-cyan-semilight-1: #bedad9;
$color-cyan-semilight-2: #c6d7d2;
$color-cyan-semilight-3: #cae0df;

$color-cyan-light-1: #ddf0ea;
$color-cyan-light-2: #eaf6f3;
$color-cyan-light-3: #d6e6e6;
$color-cyan-light-4: #e3eded;
