@import "../../assets/scss/index";
.footer {
  background: $color-primary-dark;
  display: flex;
  position: relative;
  justify-content: center;
  a {
    text-decoration: none;
    color: white;
  }
}

.footer-title {
  font-size: 0.8rem;
  color: green;
}

.footer-link {
  text-decoration: none;
}
