.footer {
  background: lightgreen;
  display: flex;
  position: relative;
  justify-content: center;
}

.footer-title {
  font-size: 0.8rem;
  color: green;
}

.footer-link {
  text-decoration: none;
}
